@model IEnumerable<League>

@{
    Layout = "_Layout";
}

<div class="row">
    @foreach (var league in Model)
    {
        <div class="col-md-4">
            <h1>@league.Name</h1>
            @Html.ActionLink("View", "Get", new { id = league.Id }, new { @class = "btn btn-primary" })
        </div>
    }
</div>